/* color variable for easier to remember this*/
:root {
    --primary: #233d8c;
    --secondary: #81848f;
    --pop: #873636;
}



/* removes the default CSS style */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* body styling*/
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}
/*header styling start*/

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--pop);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--secondary);
    padding: 10px;
    border: 5px solid var(--pop);
}
header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background: var(--pop);
    color: var(--primary);
    border-radius: 15px;
}

/* header styling end */

/* hero styling start*/
.hero {
    background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpeg");
    width: 1200px;
    height:600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero div{
    position: absolute;
    float: left;
}
.div img {
    height: 150px;
    width:auto;
    padding-right:900px;
}
/* utuility class styling*/
.title {
    border-right: 5px solid var(--pop);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 30px;
    color:bisque;
}

/* about me section styling start */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}
.about-me p {
    font-size: 20px;
    color:aqua;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}
/* skills section starts*/
.skills {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.skills h2 {
    color: var(--secondary);
}

.projects-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}
    
.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}


